body {
    margin: 0;
    padding: 0;
    
    font-family:  "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: rgba(40, 49, 54, 1);
    /* color: rgba(40, 49, 54, 1); красным обозначен текст, который самый частый в этом макете, дабы просто было проще ориентироваться  */
    background-color: white;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
    text-decoration: none;
}

.button {
    background-color: rgba(251, 86, 90, 1); 
    
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
}
/*Тут начало хедера*/

.main-header {
    margin: 0;
    padding: 0;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
    
}

.main-header,
.introduction,
.catalog-logo{
/*    background-color: rgba(238, 238, 238, 1);*/
}

.site-navigation,
.bascket {
    list-style: none;
}

.site-navigation a,
.bascket a{
    color: rgba(0, 0, 0, 1);
}

.site-navigation a:hover,
.site-navigation a:focus,
.bascket a:hover,
.bascket a:focus {
  color: rgba(251,  86, 90, 1);
}

.site-navigation a:active,
.bascket a:active{
    color: rgba(166, 166, 166, 1);
}
/*Тут конец хедера*/

/*Начало контейнера главной страницы*/

.container {
   
}

/*Начало слайдера*/
.introduction {
    
}

.introduction-slide strong {
    font-size: 55px;
    line-height: 55px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}
.introduction-slide {
    
}

.introduction-slide-1 {
    z-index: 1;
    position: absolute;
}

.introduction-slide-2 {
    z-index: 2;
    position: absolute;
}

.introduction-slide-3 {
    z-index: 3;
    position: absolute;
}


.introduction .slide-button {
    padding-top: 16px; 
    padding-right: 55px;
    padding-bottom: 16px;
    padding-left: 55px;
    border-radius: 3px;
    background-color: rgba(251, 86, 90, 1);
    
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
    
}

.introduction .slide-button:hover,
.introduction .slide-button:focus {
    background-color: rgba(231, 66, 70, 1);
    
}

.introduction .slide-button:active {
    background-color: rgba(215, 55, 59, 1);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}


/*Конец слайдера*/

/*Начало услуг*/
.services {
    
}

.services .services-list {
    list-style: none;
}

.services .services-list h3 {
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

.services .button-red {
    background-color: rgba(251, 86, 90, 1);
    
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
    
}

.services .button-red:hover,
.services .button-red:focus {
    background-color: rgba(231, 66, 70, 1);
}

.services .button-red:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(215, 55, 59, 1);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}


.services .button-green {
    background-color: rgba(0, 202, 116, 1);
    
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
}

.services .button-green:hover,
.services .button-green:focus {
    background-color: rgba(0, 188, 108, 1);
}

.services .button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 170, 98, 1);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.services .button-yellow {  
    background-color: rgba(239, 200, 74, 1);
    
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
}

.services .button-yellow:hover,
.services .button-yellow:focus {
    background-color: rgba(234, 181, 52, 1);
}

.services .button-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(229, 167, 34, 1);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}
/*Конец усулг*/

/*Начало информации*/
.information {
    
}

.basic-information p:first-child {
    font-size: 45px;
    line-height: 45px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    
    margin: 0;
    padding: 0;
}

.basic-information .we-can-title {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.basic-information .we-can-list {
    list-style: none;
}

.additional-information {
    
}

.additional-information caption {
    font-size: 16px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.additional-information th {
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}

.additional-information td {
    font-size: 45px;
    line-height: 10,06px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}

.additional-information td sup{
    font-size: 26px;
}
/*Конец информации*/

/*Начало клиентов*/
.сlients {
    
}

.сlients .clients-list {
    list-style: none;
}

.сlients a {
    opacity: 0.2;
}

.сlients a:hover,
.сlients a:focus{
    opacity: 1;
}

.сlients a:active {
    opacity: 0.1;
}
/*Конец клиентов*/
/*Конец контейнера главной страницы*/

/*Начало контейнера каталога*/

.catalog-logo {
    margin: 0;
    padding: 0;
    
    font-size: 55px;
    line-height: 55px;
    color: rgba(0, 0, 0, 1);
    font-weight: normal;
}

/*Начало фильтра*/
.filter ul {
    list-style: none;
}
.filters fieldset {
    border: none;
}

.filters legend {
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
    
}

.filters fieldset:first-of-type legend {
    letter-spacing: 0.1px;
}

.filters .price-choice {
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
}

input[type="text"] {
    color: red;
}

.filters .grid-choice {
    font-size: 16px;
    line-height: 20px;
    
}

.filters .features-choice {
    font-size: 16px;
    line-height: 20px;
    
}

.filters .show-button {
    font-size: 16px;
    border-radius: 3px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
    
    
    border: none;
    padding: 10px 60px;
    background-color: rgba(238, 238, 238, 1);
}

.filters .show-button:hover,
.filters .show-button:focus {
    background-color: rgba(223, 223, 223, 1);
}

.filters .show-button:active {
    background-color: rgba(213, 213, 213, 1);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
    outline: none;
}

.filter-input:hover + label,
.filter-input:focus + label {
    color: rgba(0, 0, 0, 1);
}

.filter-input:active + label {
    color: rgba(40, 49, 54, 1);
    opacity: 0.3;
}
/*Конец фильтра*/

/* начало дива объединяющего центральную часть контента*/
.main-content {
    
}
/*Начало сотритовки*/
.sorting strong{
    font-size: 18px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.sorting .sorting-list{
    list-style: none;
}

.sorting .sorting-list a {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.3;
}

.sorting .sorting-list a:hover,
.sorting .sorting-list a:focus {
    opacity: 0.6;
}

.sorting .sorting-list a:active {
    opacity: 1;
}
/*Конец сортировки*/

/*Начало каталога*/
.catalog .catalog-list {
    list-style: none;
}

.catalog .hidden-description h3 {
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.catalog .catalog-item-description {
    font-size: 16px;
    line-height: 18px;
    color: rgba(102, 102, 102, 1);
    font-weight: 400;
}

.catalog .button {
    padding: 16px;
    border-radius: 5px;
    background-color: rgba(251, 86, 90, 1); 
    
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
}

.catalog .button:hover,
.catalog .button:focus {
    background-color: rgba(231, 66, 70, 1);
}

.catalog .button:active {
    background-color: rgba(215, 55, 59, 1);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}
/*Конец каталога*/

/*Начало пагинации*/
.pagination .pagination-list {
    list-style: none;
}

.pagination .pagination-list li {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.pagination .pagination-list a {
    color: rgba(0, 0, 0, 1);
}
/*Конец пагинации*/
/*Конец контейнера каталога*/

/*Начало футера */
.main-footer {
    
}

.contacts span {
    font-size: 18px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    text-transform: uppercase;
}

.contacts p {
    font-size: 16px;
    line-height: 18px;
    color: rgba(102, 102, 102, 1);
    font-style: normal;
}

.contacts .button {
    background-color: rgba(251, 86, 90, 1); 
    
    font-size: 16px;
    line-height: 18px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    text-transform: uppercase;
}

.contacts .button:hover,
.contacts .button:focus{
    background-color: rgba(231, 66, 70, 1);
}

.contacts .button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(215, 55, 59, 1);
    box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.social-networks ul {
    list-style: none;
    margin: 0;
    padding: 0;
/*    font-size: 0px;*/
}

.freiend-discount p:nth-of-type(1) {
    font-size: 36px;
    line-height: 36px;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}

.freiend-discount p:nth-of-type(2) {
    font-size: 16px;
    line-height: 22px;
    font-style: normal;
    color: rgba(68, 68, 68, 1);
    font-weight: 400;
}

/*Конец футера*/

/*Начало попапа*/
.write-us-popup {
    
}

.write-us-popup p {
    font-size: 45px;
    line-height: 45px;
    font-style: normal;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
}
/*конец попапа*/

/* ----- Сеточные стили ----- */
html,
body {
    width: 1440px;
    height: 2476px;
}

body {
    background-image: url("/img/nerds-index.jpg"); 
    background-repeat: no-repeat;
    background-size: 1440px auto;
}

.container {
    width:1160px;
    margin: 0 auto;
    padding: 0;
    outline: 1px solid red;
}

.main-header {
    height: 132px; 
    
}

.main-navigation {
    display: flex;
    height: 132px;
    outline: 1px solid red; 
}

 .main-header-logo {
    width: 160px;
    height: 65px;
    margin-top: 50px
    
}

.site-navigation {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    outline: 1px solid red; 
    width: 435px;
    height: 25px;
    position: relative;
    top: 74px;
    left: 202px;
    
}

.site-navigation li{
    
}

.bascket {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    top: 74px;
    left: 490px;
}



.introduction {
    height: 413px;
    outline: 1px solid red;
}

.introduction-slide {
    width: 560px;
    height: 413px;
   
}

slider-button {
    
}

.services {
    min-height: 508px;
    outline: 1px solid red;
   
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    
    padding-top: 80px;
    
}

.services-list li {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 360px;
    outline: 1px solid red;
}

.services-list h3 {
    order: 2;
    margin-top: 25px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.services-list img {
    order: 1;
}

.services-list p {
    order: 3;
}

.services-list .button-red,
.services-list .button-green,
.services-list .button-yellow{
    order: 4;
}


.information {
    display: flex;
    min-height: 527px;
    outline: 1px solid red;
    
}

.basic-information {
    width: 660px;
    height: 400px;
    margin-top: 74px;
}

.basic-information p:nth-child(2) {
    margin-top: 35px;
}

.basic-information .we-can-title {
    margin-top: 38px;
}

.basic-information .we-can-list {
    margin:0;
    padding: 0;
}

.basic-information .we-can-list li {
    margin-top: 24px;
    margin-left: 35px;
}

.additional-information {
    width: 360px;
    height: 420px;
    
    margin-top: 40px;
    margin-left: 140px;
    opacity: 0.5;
}

.information-table {
    margin: 0;
    padding: 0;
    
}

.сlients { 
    min-height: 182px;
    outline: 1px solid red;
    
}

.clients-list {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content: space-between;
}

.clients-list li {
    width: 260px;
    outline: 1px solid red;
}
.main-footer {
/*    background-image: url(/img/map.jpg);*/
}
.main-footer .container{
    height: 714px;
    outline: 1px solid red;
}

.flex {
    display:flex;
    flex-direction: column;
}

.contacts {
    width: 319px;
    height: 308px;
    margin-top: 135px;
    outline: 1px solid red;
}

.foot-container {
    display: flex;
    flex-direction: 
}

.social-networks {
    outline: 1px solid red;
    width: 260px;
    height: 125px;
    margin-top: 100px;
}

.social-networks ul {
    display: flex;
    justify-content: space-between
}

.freiend-discount {
    width: 600px;
    height: 125px;
    outline: 1px solid red;
    margin-top: 100px;
    margin-left: 120px;
}
.freiend-discount p:nth-of-type(1) {
    outline: 1px solid red;
    margin: 0;
    padding: 0;
}
